{% extends "base.html" %}

{% block content %}
{% if no_secret %}
<h1>Hier ist kein one time secret (OTS).</h1>
{% else %}
<h1>Hier ist dein one time secret (OTS).</h1>

<div class="secret-form" id="secret">{{otsecret}}</div>
<button class="button" onclick="copyToClipboard()">kopieren</button>

<script>
    function copyToClipboard() {
        // Get the text field
        var copyText = document.getElementById("secret");

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.textContent);
    }
</script>
{% endif %}
{% endblock content %}