{% extends "base.html" %}

{% block content %}
<h1>Ein neues one time secret (OTS) ist bereit.</h1>
<p>Teile den folgenden Link ohne ihn selbst zu öffnen.</p>
<div class="secret-form" id="secret-link">
    {{request.scope.scheme}}://{{request.headers.host}}/secret/receive/{{share_uri}}
</div>
<button class="button" onclick="copyToClipboard()">kopieren</button>

<script>
    function copyToClipboard() {
        // Get the text field
        var copyText = document.getElementById("secret-link");

        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.textContent);
    }
</script>
{% endblock content %}